.title-map-container{
    width : 80%;
    margin: auto;
    padding: 10px;
}

.map-container {
    height: 600px;
    margin: auto;
    position: relative;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.modal-dialog{
    width : 200px !important;
    text-align: center;
}

.mapboxgl-marker {
    width: 50px;
}
